
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
HELLO Vineeth Welcome<br>
<label class="item item-input">
	<span class="input-label">Input:</span>
	<input placeholder="Text" type="text"/>
</label><br>
<button id="button-1" class="button">Home</button><br>
<ion-radio type="radio" value="A">A</ion-radio>
<ion-radio type="radio" value="B">B</ion-radio>
<ion-radio type="radio" value="C">C</ion-radio><br>
<ion-checkbox>I agree</ion-checkbox>
<ion-checkbox>I agree</ion-checkbox>
</body>
</html>

